// @font-face {
//   font-family: "Beeline-Regular";
//   src: local("Beeline-Regular"), url("../public/fonts/woff/Beeline_Sans-Regular.woff") format("woff");
// }


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #222628;

  /* background: linear-gradient(180deg, #ffffff 0%, #f5f6f8 73.88%) no-repeat; */
  /* background: url("../img/curtain-bg.png") 0 73px / 100% no-repeat; */
  background: rgba(255, 255, 255);
}

button {
  border: none;
}

h1, h2,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222628;
}

input:focus {
  outline: rgb(52, 52, 52);
  border: 1px solid rgb(52, 52, 52);
}
